* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  /* outline: 2px dotted red; */
}
@font-face {
  font-family: viking;
  src: url(../fonts/Acadian_Runes-Regular_PERSONAL_USE.ttf);
}

body {
  background-color: #1e1e31;
  width: 100%;
  height: 100%;
  display: flex;
}

.main-box {
  width: 500px;
  margin: 60px auto;
  text-align: center;
  display: inline-block;
}

.title {
  font-family: viking;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}
.logo {
  margin: 10px;
}

.list {
  font-family: viking;
  margin: 5px auto;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}
li {
  list-style-position: inside;
}
.pie > a {
  color: #c91a31;
}

.flan > a {
  color: #eeb450;
}
.cake > a {
  color: #d38f8b;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  font-size: 37px;
  font-weight: bold;
  transition: 0.3s;
}
a:active {
  text-decoration: underline;
  color: white;
  transition: 0.3s;
}

.pie {
  list-style-image: url(../images/resized/pie.png);
}
.flan {
  list-style-image: url(../images/resized/flan.png);
}
.cake {
  list-style-image: url(../images/resized/cake.png);
}

footer {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #13131f;
  text-align: center;
  opacity: 0.5;
}
